 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(33,34,33,0.4), rgba(33,34,33,0.4)), url("images/2022-012520Budka2520Zdrowia_Klatka_8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 321px;
  margin: 218px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0 18px 0 4px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  margin: 24px 39px 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 66px auto 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 120px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 364px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-group-1 {
    min-height: 495px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -91px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 115px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 6px;
  }
}.u-section-2 .u-image-1 {
  min-height: 795px;
  background-image: url("images/hbsystem1.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 686px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 248px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-image-1 {
  min-height: 893px;
  background-image: url("images/hbsystem2.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 438px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 276px;
  }
}.u-section-4 .u-image-1 {
  min-height: 991px;
  background-image: url("images/hbsystem3.png");
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 721px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1140px;
}

.u-section-5 .u-image-1 {
  height: 1140px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-5 .u-image-1 {
    height: 940px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 720px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-5 .u-image-1 {
    height: 540px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: url("images/hbsystem5.png");
  background-position: 50% 50%;
  min-height: 710px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 484px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 321px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 239px;
  }
}